<!-- Header -->

<div class="header_down">
    <div class="wrap">

        <h1><span class="pipe">|</span>Shape the world we live in</h1>
        <ul class="list-inline">
            <li>
                <a href="https://github.com/609520262/Entropy-theory" class="btn-social btn-outline"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-gitlab"></i></a>
            </li>
            <li>
                <a href="#" class="btn-social btn-outline"><i class="fa fa-bitbucket"></i></a>
            </li>
        </ul>




    </div>

</div>

<div class="banner">
    <div class="img_left">
        <img src="/assets/backgroundsw.jpg" alt="">
        <div class="backgroundsw">
        </div>
        <div class="black1">

            <h4>Bearing failure</h4>
            <i></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="img_right">

        <div class="right_up">
            <img class="img_right_up" src="/assets/spe_hero_banner_5.jpg" alt="">
            <div class="backgroundsw"></div>
            <div class="black1">
                <h4>Bearing failure</h4>
                <i></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
					</svg>
                <a href="#">Learn More</a>
            </div>
        </div>





        <div class="right_down">

            <img class="img_right_down" src="/assets/solidworks-features.jpg" alt="">
            <div class="backgroundsw"></div>
            <div class="black2">
                <h4>Bearing failure</h4>
                <i></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
					</svg>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>



<section class="jekyll">
    <div class="introduction">
        <div class="ab_center">
            <div class="title">
                <h2>About Me</h2>
                <p>Solution Show</p>
                <b></b>
            </div>
            <p>野火在发布第一块STM32开发板之初，就喊出 开源共享，共同进步 的口号， 把代码和文档教程都免费提供给用户下载，而我们也一直把这个理念贯穿至今。 目前我们的产品已经包括 STM32、i.MX RT系列、GD32V、FPGA、Linux、emXGUI、 操作系统、网络、下载器 等分支，覆盖电子工程应用领域的各种常用技术， 其中教学类产品的代码和文档一直保持着开源的姿态发布到网络上， 为电子工程师排忧解难，让嵌入式没有难用的技术是我们最大的愿望。</p>
            <div class="ab_list">
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>
                <dl>
                    <dt>100<span>万家</span></dt>
                    <dd>提供解决方案及服务</dd>
                </dl>

            </div>
            <a href="#" class="btn">Learn More</a>
        </div>


        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
						<defs>
							<path id="gentle-wave"
								d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
						</defs>
						<g class="parallax">
							<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
							<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
							<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
							<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
						</g>
					</svg>
        </div>

    </div>


    <div class="pro">
        <div class="title">
            <h2>Entropy Theory</h2>
            <p>Solution Show</p>
            <b></b>
        </div>
        <ul class="pro_con">
            <li>
                <img src="/assets/OIP-C (1).jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/OIP-C (2).jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-boombox" viewBox="0 0 16 16">
								<path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm5.5 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M11.5 13a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm0-1a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M7 10.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-1 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
								<path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM1 3v3h14V3H1Zm14 4H1v7h14V7Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/OIP-C.jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <ul>
    </div>
    <div class="pro">
        <div class="title">
            <h2>Rotor Test Bench</h2>
            <p>Solution Show</p>
            <b></b>
        </div>
        <ul class="pro_con">
            <li>
                <img src="/assets/OIP-C (1).jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/OIP-C (2).jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-boombox" viewBox="0 0 16 16">
								<path d="M2.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2 0a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm-7-1a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm5.5 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M11.5 13a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Zm0-1a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3ZM5 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								<path d="M7 10.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-1 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
								<path d="M14 0a.5.5 0 0 1 .5.5V2h.5a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12.5V.5A.5.5 0 0 1 14 0ZM1 3v3h14V3H1Zm14 4H1v7h14V7Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <li>
                <img src="/assets/OIP-C.jfif" alt="" </img>
                <div class="black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
								<path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
							</svg>
                    <i></i>
                    <h4>Bearing failure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#">Learn More</a>
                </div>
            </li>
            <ul>
    </div>

    <div class="news">
        <div class="title">
            <h2>Recent News</h2>
            <p>Solution Show</p>
            <b></b>
        </div>
        <div class="news_con">
            <div class="left_news">
                <img src="/assets/微信图片_20230308184719.jpg" alt="" </img>
                <div id="contrast">
                    <a class="slick-prev"></a>
                    <a class="slick-next"></a>
                </div>
                <dl>
                    <dt>
								<p>这是我们的合影</p>
								<span>2022-12-21</span>
							</dt>
                    <dd>基于单一事实来源的社交设计环境，并允许您通过强大的 3D 仪表板进行访问，从而促进跨所有利益相关者（包括移动工作者）的商业情报互访，以及实时并行的设计和协作。</dd>
                </dl>
            </div>

            <ul class="right_news">
                <li>
                    <a href="#">
                        <div class="time">
                            02-29<span>2021</span>
                        </div>
                        <dl>
                            <dt>Abaqus/Standard</dt>
                            <dd>Abaqus /Standard can provide starting points for Abaqus/Explicit simulations as well as continuing from Abaqus/Explicit results. Pre- and postprocessing is supported within the Abaqus/CAE modeling environment.</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="time">
                            02-29<span>2021</span>
                        </div>
                        <dl>
                            <dt>Abaqus/Standard</dt>
                            <dd>Abaqus /Standard can provide starting points for Abaqus/Explicit simulations as well as continuing from Abaqus/Explicit results. Pre- and postprocessing is supported within the Abaqus/CAE modeling environment.</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="time">
                            02-29<span>2021</span>
                        </div>
                        <dl>
                            <dt>Abaqus/Standard</dt>
                            <dd>Abaqus /Standard can provide starting points for Abaqus/Explicit simulations as well as continuing from Abaqus/Explicit results. Pre- and postprocessing is supported within the Abaqus/CAE modeling environment.</dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn">Learn More</a>

    </div>
    <script>
        var oBtnPre = document.querySelector(".slick-prev");
        var oBtnNext = document.querySelector(".slick-next");
        var oPic = document.querySelector(".left_news img");
        var imgList = ["/assets/微信图片_20230308184719.jpg", "/assets/home-office.jpg", "/assets/微信图片_20230308184719.jpg", "/assets/微信图片_20230313160603.jpg"];

        var imgCurrent = 0;
        oBtnPre.onclick = function() {
            if (imgCurrent == 0) {
                imgCurrent = 3;
            }
            imgCurrent--;
            oPic.src = imgList[imgCurrent]
        }
        oBtnNext.onclick = function() {
            if (imgCurrent == 3) {
                imgCurrent = 0;
            }
            imgCurrent++;
            oPic.src = imgList[imgCurrent]
        }
    </script>

    <!-- <div class="container main">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="black">Recent Posts</h2>
					</div>
					<div class="col-lg-12">
						<div class="recent-blog">
						<% if (site.posts.length){ %>
						  <div class="widget-wrap">
							<div class="widget">
							  <div class="recent-homepage">
								<% site.posts.sort('date', -1).limit(4).each(function(post){ %>
								  <div class="col-md-3">
									<a class="recent" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
									<div class="post-excerpt-front"><%- post.excerpt %></div>
									<a class="readmore" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a> <i class="fa fa-angle-right" aria-hidden="true"></i>
								  </div>
								<% }) %>	
							  </div>
							</div>
						  </div>
						<% } %>
						</div>
					</div>
					<div class="col-lg-12 text-center" style="margin-top: 20px;">
						<a class="btn btn-default readall" href="/categories/blog">Read all blog</a>
					</div>
				</div>
				<hr>
			</div> -->
</section>